<ul class="position-list bg-w">
<!-- 	<li class="item">
		<img class='logo f-l' src="image/company-3.png" alt="Qiandu">
		<h3 class="title">Sales</h3>
		<p class="text">
			Qiandu[shanghai] internet.
		</p>
		<p class='text'>2017-09-13</p>
	</li>
		<li class="item">
		<img class='logo f-l' src="image/company-3.png" alt="Qiandu">
		<h3 class="title">Sales</h3>
		<p class="text">
			Qiandu[shanghai] internet.<br>
			2017-09-13
		</p>
	</li> -->
	<li class="item" ng-repeat="item in data" ui-sref='position({id:item.id})'>
		<img ng-src="{{item.imageUrl}}" alt="" class="logo f-l">
		<h3 class="title" ng-bind="item.companyName"></h3>
		<p class="text" ng-bind="item.job + ' ['+ item.cityName+'] ' +item.industryName"></p>
		<p class="text" ng-bind="item.date"></p>
	</li>
</ul>
