@import '../index.less';

.position-list{
	margin:0;
	padding:0;
	.item{
		margin:0 3px;
		padding:7px 3px;
		list-style: none;
		border-bottom: 1px solid @listLineColor;
	}
	.logo{
		.h(60);
		.w(60);
		.mr(13);
	}
	.title{
		margin:0;
	}
	.text{
		margin:0;
	}
	.icon{
		width:30px;
		height:28px;
		right:14px;
		top:12px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		&.star{
			background-image: url(../image/star.png);
		} 
		&.star-active{
			background-image: url(../image/star-active.png);
		}
	}
	.clear{
		clear:both;
	}
}

