<div class="register">
    <form class="form ta-c">
        <div class="form-line ta-l">
            <span class="account d-ib ta-c"></span>
            <input class="d-ib" type="text" placeholder="input phone">
        </div>
        <div class="form-line ta-l">
            <span class="lock d-ib ta-c"></span>
            <input class="d-ib" type="text" placeholder="input password">
        </div>
        <div class="valid ta-c">
            <input class="valid-input d-ib ta-c" type="text" placeholder="valid code">
            <button class="valid-btn d-ib ta-c">send</button>
        </div>
        <button class="login-btn">login</button>
        <button class="register-btn">register</button>
    </form>
</div>